* {
  margin: 0;
  padding: 0;
}
html {
  display: block;
  box-sizing: border-box;
}
body {
  text-align: center;
  h1 {
    color: red;
    font-size: 52px;
  }
  li {
    list-style: none;
  }
  a {
    margin: 0;
    padding: 0;
    font-style: none;
    font-style: none;
    text-decoration: none;
    color: #007e0a;
    font-weight: 700;
  }
}
