@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body{
    font-family: Roboto, sans-serif;
    background: linear-gradient(purple, rgb(75, 0, 75)) no-repeat;
    height: 5000px;
  
}
body .title{
    display: block;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px dashed #fff ;
}
body .title h1{
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
}