@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(purple, rgb(75, 0, 75)) no-repeat;
  height: 5000px;
}
body .title {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px dashed #fff;
}
body .title h1 {
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
}
/*Boxes*/
.container {
  display: flex;
  margin: 1em 5em;
}
.container div {
  position: relative;
  margin: 0 2em;
  padding: 1em 3em;
  height: 550px;
  background-color: rgb(194, 109, 11);
  color: #fff;
  box-shadow: 2px 4px 6px #0000009d;
  transform: matrix(1.19, 0.23, -1.06, 0.19, 0, 0);
  transition: all .5s linear;
}
.container div:nth-child(1) {
  left: 52vh;
  top: 21vh;
  transition: all .5s linear;
}
.container div:nth-child(2) {
  left: 8vh;
  top: 19vh;
  transition: all .5s linear;
}
.container div:nth-child(3) {
  left: -36vh;
  top: 17vh;
  transition: all .5s linear;
}

.container:hover div {
  position: relative;
  margin: 0 2em;
  padding: 1em 3em;
  height: 550px;
  background-color: rgb(194, 109, 11);
  color: #fff;
  box-shadow: 2px 4px 6px #0000009d;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .5s linear;
}
.container:hover div:nth-child(1),
.container:hover div:nth-child(2),
.container:hover div:nth-child(3) {
  left: initial;
  top: initial;
  transition: all 1s linear;
}

.container div h2,
.container div p {
  /* opacity: 0; */
}
.container div h2 {
  text-align: center;
  text-transform: uppercase;
}
